html{
    box-sizing: border-box;
}
body {
    background: #fff;
    margin: 30px 50px;
}
img {
    max-width: 100%;
   
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}


.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.top-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.top-box1 {
    grid-column: span 2;
}
.top-box2 {
    grid-column: span 2;
    line-height: 1.6rem;
}
.top-box3 {
    margin-right: 1rem;
}
.top-box4 {
    margin-left: 1rem;
}


.bottom-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;  
}
.bottom-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.bottom-box1 {
    grid-column: span 2;
}
.bottom-box2 {
    grid-column: span 2;
    line-height: 1.6rem;
}
.bottom-box3 {
    margin-right: 1rem;
}
.top-box4 {
    margin-left: 1rem;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
.top-box p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
   
}
.bottom-box p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}
h5{
    font-family:'Hind Siliguri', sans-serif;
    font-weight: 500;
}
span {
    color: grey;
}



@media(min-width:1281px) {
    body {
        margin: 100px 0;
    }
    .wrapper {
        display: flex;
        
        margin: 0;
    }
    p {
        text-align: justify;
        font-weight: lighter;
        margin-top: 0;
    }
    span {
        text-align: justify;
    }  
   .top-box {
    margin-left: 1rem;
    margin-right: 1rem;
   }
   h1 {
    text-align: justify;
   }
   
}


@media(min-width:992px) {
    body {
        margin: 50px 100px;
    }
    p {
        text-align: justify;
        line-height: 2rem;
    }
    span {
        text-align: justify;
    }
    .top-box2 {
        margin: 0;
        padding: 0;
    }
}






@media(max-width:991px) {
    body {
        margin: 40px 60px;
    }
    p {
        text-align: justify;
    }
    span {
        text-align: justify;
    }
    .top-box3 {
        margin-right: 0.5rem;
    }
    .top-box {
        margin: 0;
    }
    .bottom-box {
        margin: 0;
    }
}







@media(max-width:768px) {
    body {
        margin: 40px 10px;
    }
    p {
        text-align: justify;
        font-size: 10pt;
    }
    span {
        text-align: justify;
    }
    .top-box3 {
        margin-right: 0.5rem;
    }
    .top-box {
        margin: 0;
    }
    .bottom-box {
        margin: 0;
    }  
}




@media(max-width:576px){
    body {
        margin: 40px 10px;
    }
    .top-container {
        display: block;
    }
    .bottom-container {
        display: block;
    }
    p {
        text-align: justify;
    }
    span {
        text-align: justify;
    }
    .top-box3 {
        margin-right: 0.5rem;
    }
}
